{% extends 'base.html.twig' %}

{% block title %}Sujets index{% endblock %}

{% block body %}
    <h1>Sujets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
                <td>{{ sujet.id }}</td>
                <td>{{ sujet.Titre }}</td>
                <td>{{ sujet.description }}</td>
                <td>{{ sujet.Auteur }}</td>
                <td>
                    <a href="{{ path('app_sujets_show', {'id': sujet.id}) }}">show</a>
                    <a href="{{ path('app_sujets_edit', {'id': sujet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sujets_new') }}">Create new</a>
{% endblock %}
